html,
body {
    height: 100%;
    margin: 0;
}

.container-principal {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.encabezado {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-left: 50px;
    width: 100%;
}

.h2-volver {
    font-size: 25px;
    color: white;
}

.container-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 100vh;
    align-items: center;
    background: linear-gradient(135deg, #1dff70, #166534);
}

.layout1 {
    width: 100%;
    height: 100%;
    padding-left: 50px;
}

.depositar {
    padding-top: 230px;
    font-size: 4rem;
    color: white;
}

.p-depositar {
    color: white;
    font-size: 20px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    width: 50%;
    min-height: 100vh;
    align-items: left;
}

.lbl-monto {
    font-size: 20px;
    font-weight: 250px;
}

.form-group {
    width: 100%;
    max-width: 480px;
}

.input-monto {
    height: 52px;
    font-size: 1.2rem;
    width: 100%;
    max-width: 420px;
    border-radius: 20px;
}

.btn-verde {
    background: linear-gradient(135deg, #1dff70, #166534);
    border-color: none;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    }

.btn-verde:hover {
    background: linear-gradient(135deg, #22ff7a, #1b7a3a);
    color: white;
}
.btn-azul {
    background: linear-gradient(135deg, #450cff, #2a0b63);
    border-color: none;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}
.form-inline{
    width: 100%;
}